.lists-products {
  border: 1px solid #ffffff;
  background-color: #e3f3f7;
  height: 44px;
}

.list-products-name {
  font-size: 12px;
  font-weight: bold;
  color: #517fea;
}

.list-products-products {
  font-size: 14px;
  color: #777373;
}
